body{
    font-family: sans-serif;
    text-align: center;
}

#myH3{
    display: inline-block;
}

#inputBox{
    padding: 5px;
    text-align: center;
    width: 50px;
    margin: 5px;
}

#drButton{
    border: none;
    background-color: rgb(91, 189, 255);
    color: aliceblue;
    font-size: 14px;
    font-weight: bold;
    padding: 7px;
    border-radius: 8px;
}

#images img{
    width: 80px;
    padding: 10px 20px;
}
